data/input/assay_results.tsv
data/input/assay_results_extended.tsv
data/input/user_added_chebis_ALL.txt
data/input/user_added_chebis_SIGNIF_ONLY.txt
data/input/compounds.tsv
data/input/names.tsv
data/output/*
*.pyc